body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}

.h1,
.h2,
.h3,
.h4,
.lead,
h1,
h2,
h3,
h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

body {
    padding-top: 30px
}

@media (min-width:768px) {
    .navbar {
        min-height: 40px
    }
    .navbar-nav>li>a {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 11px
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 42px;
        height: 42px
    }
}

body {
    position: relative;
    padding: 40px 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #020031), color-stop(100%, #6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0, #6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0, #6d3353 100%);
    background: linear-gradient(45deg, #020031 0, #6d3353 100%);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2)
}
.caption{
    text-align: center;
}
.jumbotron .jumbotron {
    color: #fff;
}

.code {
    word-break:break-all;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.panel {
    color: black;
}

.jumbotron aa:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25)
}

.container {
    position: relative;
    z-index: 2
}

body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1) {
    .jumbotron:after {
        -webkit-background-size: 150px 150px;
        background-size: 150px 150px
    }
}